<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ISecurityService">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpBinding_IAdvertiserService">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpBinding_ICampaignService">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://api.adform.com/Services/SecurityService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISecurityService"
                contract="SecurityService.ISecurityService" name="BasicHttpBinding_ISecurityService" />
            <endpoint address="https://api.adform.com/Services/AdvertiserService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAdvertiserService"
                contract="AdvertiserService.IAdvertiserService" name="BasicHttpBinding_IAdvertiserService" />
            <endpoint address="https://api.adform.com/Services/CampaignService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICampaignService"
                contract="CampaignService.ICampaignService" name="BasicHttpBinding_ICampaignService" />
        </client>
    </system.serviceModel>
</configuration>